{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules" : {
    "comma-dangle": [2, "never"],
    "indent": ["error", 2],
    "prefer-template": 2,
    "no-console": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0
  }
}
