h1.h3.center Page not found :(
p.center
  a(href="#{root_url[environment]}" title="Click here to return to homepage :)" rel="me")
    img(src="#{root_url[environment]}assets/images/devfreebooks-thumb.png" width="275" height="220")
p.center 
  strong Please, <a href="#{root_url[environment]}" rel="me">click here to return to homepage</a> :)