section.uk-padding.uk-padding-small
  != partial("_shared/title")
  != partial("_shared/banner")
  != partial("_shared/sponsored")
  != partial("_shared/last_added")
  != partial("_shared/categories")