section.row-fluid.clearfix.hidden-xs.hidden-sm
  h1.h3.center #{description}
!= partial("_shared/thumb_platforms")
section.row-fluid.clearfix.hidden-xs.hidden-sm
  != partial("_shared/social_buttons")