section.uk-padding.uk-padding-small
  != partial("_shared/title")
  != partial("_shared/sponsored")
  != partial("_shared/last_added")
  != partial("_shared/ads_banner")
  != partial("_shared/categories")
  br
  != partial("_shared/ads_banner")