html{
  background:#434a54;
}
body{
  background:#FEFEFE;
}
.footer-about{
  text-align:center;
  color:#FFF;
}
.header{
  margin-bottom:3.5em;
}
.book-title{
  height:25px;
}
.book-description{
  height:175px;
}
.book-metadata{
  text-align:right;
  font-size:.85em;
  line-height:.75em;
}
.center{
  text-align:center;
}
.navbar-brand{
  padding:8px 15px;
}
.jumbotron{
  margin:50px 0;
}
.jumbotron .jumbotron-contents{
  padding:20px 20px 5px;
}
.thumbnail-featured{
  background-color: #FFE;
  -moz-transition: background-color 2.0s ease;
  -webkit-transition: background-color 2.0s ease;
  -ms-transition: background-color 2.0s ease;
  -o-transition: background-color 2.0s ease;
  transition: background-color 2.0s ease;
}
.social-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: transparent;
}
.social-footer .btn {
  border-radius: 0;
}
.social-footer .btn-lg {
  padding: 16px;
  font-size: 26px;
  height: 70px;
}
.anchor {
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
