html {
  background:#434a54;
}
body {
  background:#FEFEFE;
}
.footer-about {
  text-align:center;
  color:#FFF;
}
.header {
  margin-bottom:3.5em;
}
.book-title {
  height:35px;
  line-height:1.5em;
}
.book-description {
  height:175px;
}
.book-metadata {
  text-align:right;
  font-size:.85em;
  line-height:1.2em;
}
.btn-donate {
  text-decoration: none;
  padding: 0;
  margin-left:-2px;
}
.center {
  text-align: center;
}
.navbar-brand {
  padding: 8px 15px;
}
.jumbotron {
  margin:50px 0;
}
.jumbotron .jumbotron-contents{
  padding: 20px 20px 5px;
}
.thumbnail-featured {
  background-color: #FFE;
  transition: background-color 2.0s ease;
}
.home-ads {
  float: left;
  position: fixed;
  top: 50px;
  left: -10px;
  width: 60%;
  z-index:1;
}
.social-footer {
  position: relative;
  left: 0px;
  bottom: 20px;
  height: 250px;
  width: 100%;
}
.social-buttons .btn {
  margin-left: 10px;
}
.social-footer .btn {
  border-radius: 0;
}
.social-footer .btn-lg {
  padding: 16px;
  font-size: 26px;
  height: 70px;
}
.anchor {
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
