@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?678014');
  src: url('../font/icon.eot?678014#iefix') format('embedded-opentype'),
       url('../font/icon.woff?678014') format('woff'),
       url('../font/icon.ttf?678014') format('truetype'),
       url('../font/icon.svg?678014#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-mail:before { content: '\e800'; }
.icon-star:before { content: '\e801'; }
.icon-child:before { content: '\e802'; }
.icon-thumbs-up:before { content: '\e803'; }
.icon-book:before { content: '\e804'; }
.icon-smile:before { content: '\e805'; }
.icon-twitter:before { content: '\e806'; }
.icon-facebook:before { content: '\e807'; }
.icon-github:before { content: '\e808'; }
.icon-gplus:before { content: '\e809'; }
.icon-linkedin:before { content: '\e80a'; }
.icon-play:before { content: '\e80b'; }
.icon-rss:before { content: '\e80c'; }
.icon-eye:before { content: '\e80d'; }
.icon-user:before { content: '\e80e'; }
.icon-plus:before { content: '\e80f'; }
.icon-video:before { content: '\e810'; }
