@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans.eot');
  src: url('../font/opensans.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans.woff') format('woff'),
       url('../font/opensans.ttf') format('truetype'),
       url('../font/opensans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}