section.uk-padding.uk-padding-small
  h3.uk-text-large.uk-text-bold Donation
  p Help us to keep this project up and running free for everybody, we will appreciate any kind of donation's value and below you can choose how to donate:
  p Donate via Bitcoin:<br><b>1GJ5sAXnHxCX4zpNG2op6VfMbbzhd9L8RE</b>
  p
    form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
      button.uk-button.uk-button-primary(type="submit" name="submit") Donate via paypal
      img(border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1")
      input(type="hidden" name="cmd" value="_s-xclick")
      input(type="hidden" name="hosted_button_id" value="HBYPE2VJW2VUJ")
  h3.uk-text-large.uk-text-bold Advertising paid books
  p Now the platform is advertising paid books, <a href="#{root_url[environment]}nodejs/" rel="me">there is an example in the node.js section of one of my books</a>, if you are interested, just send me a message to <a href="mailto:caio.ribeiro.pereira@gmail.com?subject=ADS_DevFreeBooks">caio.ribeiro.pereira@gmail.com</a>.
  h3.uk-text-large.uk-text-bold About
  p This site is a open-source initiative whose the goal is sharing only free dev books for everybody. If you love Node.js, Go, JavaScript, Ruby or any other programming language or framework, and you know some ebooks sharing your basic or advanced knowledge, please <a href="#{form_url}" target="_blank" title="How add a book here?">send it to us</a>! Will be a honor to fill up this site with a huge collection of free books.
  h3.uk-text-large.uk-text-bold Terms
  p We do not promote piracy here, all books are free to read. We do not store user data and the links of the books are redirected to the sites of the authors. If any content of this site violates the copyright, please <a href="mailto:caio.ribeiro.pereira@gmail.com">contact me</a>, to request the content's deletion.
  h3.uk-text-large.uk-text-bold Author
  p Hi! My name is Caio Ribeiro Pereira, I am a brazilian web developer (Ruby and Node.js are my best!) and author of these books:
  ul
    li <a href="https://leanpub.com/javascript-awesome-tips-br-version" target="_blank">JavaScript Awesome Tips</a>
    li <a href="http://www.apress.com/br/book/9781484224410" target="_blank">Building APIs with Node.js</a>
    li <a href="https://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a>
    li <a href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" target="_blank">Construindo APIs com Node.js</a>
    li <a href="https://www.casadocodigo.com.br/products/livro-meteor" target="_blank">Meteor: Criando aplicações web real-time com JavaScript</a>
  p If wanna talk with me, you can <a href="mailto:caio.ribeiro.pereira@gmail.com">send me an e-mail</a> or follow me in some of this links: <a href="http://twitter.com/crp_underground" target="_blank" rel="nofollow">Twitter</a>, <a href="http://br.linkedin.com/in/caioribeiropereira" target="_blank" rel="nofollow">LinkedIn</a>, <a href="https://github.com/caio-ribeiro-pereira" target="_blank" rel="nofollow">Github</a>.