h3 About
p This site is a open-source initiative whose the goal is sharing only free dev books for everybody. If you love Node.js, Go, JavaScript, Ruby or any other programming language or framework, and you know some ebooks sharing your basic or advanced knowledge, please <a href="#{form_url}" target="_blank" title="How add a book here?">send it to us</a>! Will be a honor to fill up this site with a huge collection of free books.

h3 Terms
p We do not promote piracy here, all books are free to read. We do not store user data and the links of the books are redirected to the sites of the authors. If any content of this site violates the copyright, please <a href="mailto:caio.ribeiro.pereira@gmail.com">contact me</a>, to request the content's deletion.

h3 Author
p Hi! My name is Caio Ribeiro Pereira, I am a brazilian web developer (Ruby and Node.js are my best!) and author of these books:
ul
ul
  li <a href="https://leanpub.com/building-apis-with-nodejs" target="_blank">Building APIs with Node.js</a>
  li <a href="https://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a>
  li <a href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" target="_blank">Construindo APIs com Node.js</a>
  li <a href="https://www.casadocodigo.com.br/products/livro-meteor" target="_blank">Meteor: Criando aplicações web real-time com JavaScript</a>

p If wanna talk with me, you can <a href="mailto:caio.ribeiro.pereira@gmail.com">send me an e-mail</a> or follow me in some of this links: <a href="http://twitter.com/crp_underground" target="_blank" rel="nofollow">Twitter</a>, <a href="http://br.linkedin.com/in/caioribeiropereira" target="_blank" rel="nofollow">LinkedIn</a>, <a href="https://plus.google.com/+CaioRibeiroPereira" target="_blank" rel="nofollow">Google+</a>, <a href="https://github.com/caio-ribeiro-pereira" target="_blank" rel="nofollow">Github</a>.
