- var ads_image_path = root_url[environment] + "assets/images/building-apis-with-nodejs.jpg";
.thumbnail.thumbnail-featured.center
  a(href="https://leanpub.com/building-apis-with-nodejs" target="_blank" title="Take a look my new book on Leanpub!")
    img.img-responsive.img-rounded(src="#{ads_image_path}" alt="Take a look my new book on Leanpub!")
  div(style="margin-top:5px;")
    strong Take a look my new book on Leanpub!
