div.uk-text-center
  a(href="https://www.binance.com/pt/register?ref=35778515" target="_blank" title="Buy Bitcoin in the world's biggest cryptocurrency exchange Binance!")
    img.uk-border-rounded(src="#{root_url[environment]}assets/images/binance-banner.png" width="450" alt="Buy Bitcoin in the world's biggest cryptocurrency exchange Binance!")