div.uk-text-center
  a(href="https://blockfi.com/?ref=0845f47d" target="_blank" title="BlockFi is the easiest place to buy, sell and earn cryptocurrency. Sign up and start earning today.")
    img.uk-border-rounded(src="#{root_url[environment]}assets/images/blockfi-banner.jpg" width="450" alt="BlockFi is the easiest place to buy, sell and earn cryptocurrency. Sign up and start earning today.")