footer.uk-padding-small.uk-text-center.uk-margin-bottom
  span Maintained by <a href="https://crpwebdev.github.io" target="_blank" rel="me">Caio Ribeiro Pereira</a> and see also <a href="#{devnewsletters.url}" target="_blank" rel="me" title="#{devnewsletters.about}">#{devnewsletters.title}</a>.
  br
  span Powered by <a href="http://harpjs.com" target="_blank" rel="nofollow">HarpJS</a>, <a href="https://pages.github.com" target="_blank" rel="nofollow">Github Pages</a>, <a href="https://getuikit.com/" target="_blank" rel="nofollow">UiKit</a> and licensed by <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank" rel="nofollow">MIT</a>