footer.footer
  div.container
    div.col-xs-12
      p.footer-about
        span.hidden-xs Wanna add your free books here? <a href="https://github.com/devfreebooks/devfreebooks.github.io/blob/master/README.md#how-to-add-books" target="_blank">Just click here and follow these rules</a>
        br.hidden-xs
        span Powered by <a href="http://harpjs.com" target="_blank" rel="nofollow">HarpJS</a>, <a href="https://pages.github.com" target="_blank" rel="nofollow">Github Pages</a>, <a href="http://bootflat.github.io" target="_blank" rel="nofollow">Bootflat</a>, <a href="http://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap</a> and licensed by <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank" rel="nofollow">MIT</a>
        br
        span Maintained by <a href="http://crpwebdev.com" target="_blank" rel="me">Caio Ribeiro Pereira</a>
        br
        span See also <a href="#{devfreecasts.url}" target="_blank" rel="me" title="#{devfreecasts.about}">#{devfreecasts.title}</a>.
