- const total_books = categories.reduce((total, category) => {
-   return total + public[category]._data.index.books.length;
- }, 0);
h1.uk-text-center.uk-text-large #{description}
p.uk-text-center
  <strong>#{total_books}</strong> books and <strong>#{categories.length}</strong> categories